.metadata
.project
/GoogleCodeJam/nbproject/private/
/GoogleCodeJam/build/
/BubbleSortTest/nbproject/private/
/Solution/nbproject/private/
/Solution/build/
/JavaApplication55/nbproject/private/
/BubbleSortChallenge/nbproject/private/
/BubbleSortChallenge/build/